export ZSH="/home/alisson/.oh-my-zsh"
ZSH_THEME="agnoster"
DEFAULT_USER="alisson"

plugins=(docker git git-commit colored-man-pages asdf gh)

source $ZSH/oh-my-zsh.sh

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export EDITOR=nvim
export PATH=/home/alisson/.local/bin:$PATH

alias vim=nvim

# Load ssh keys:
# https://wiki.archlinux.org/title/SSH_keys
eval $(keychain --eval --quiet id_rsa)

# tabtab source for packages
# uninstall by removing these lines
[[ -f ~/.config/tabtab/__tabtab.zsh ]] && . ~/.config/tabtab/__tabtab.zsh || true

{{- if eq .chezmoi.hostname "fire" }}

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/home/SHARED/SHARED/Downloads/Linux/google-cloud-sdk/path.zsh.inc' ]; then . '/home/SHARED/SHARED/Downloads/Linux/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/home/SHARED/SHARED/Downloads/Linux/google-cloud-sdk/completion.zsh.inc' ]; then . '/home/SHARED/SHARED/Downloads/Linux/google-cloud-sdk/completion.zsh.inc'; fi
{{- end}}
